## MYSQL Database connect with python

### Traemos los datos como csv

In [1]:
# Importamos pandas
import pandas as pd

In [4]:
datos1 = ("Data/provincia.csv")
datos2 = ("Data/tec_localidad.csv")
datos3 = ("Data/totales.csv")
datos4 = ("Data/vel_localidad.csv")
datos5 = ("Data/velocidad_internet.csv")
datos6 = ("Data/mapa_conectividad.xlsx")

In [5]:
# Traemos los datos
df_prov = pd.read_csv(datos1)
df_tec_loc = pd.read_csv(datos2)
df_total = pd.read_csv(datos3)
df_vel_loc = pd.read_csv(datos4)
df_vel_internet = pd.read_csv(datos5)
df_mapa = pd.read_excel(datos6)

In [6]:
# Convertimos los datos en Dataframe
df_prov = pd.DataFrame(df_prov)
df_tec_loc = pd.DataFrame(df_tec_loc)
df_vel_loc = pd.DataFrame(df_vel_loc)
df_vel_internet = pd.DataFrame(df_vel_internet)
df_total = pd.DataFrame(df_total)
df_mapa = pd.DataFrame(df_mapa)

In [11]:
# Solo observemos los datos de localidad y mapa
df_tec_loc.head(4)

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,755,4600,0,2,0,742,0,727,6826
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,0,0,0,10,1,0,0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,0,0,0,0,0,0,181,181
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,0,782,0,496,16,0,0,185,1479

In [10]:
df_vel_loc.head(4)

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",1 Mbps,...,680 Mbps,700 Mbps,800 Mbps,850 Mbps,900 Mbps,999 Mbps,1000 Mbps,1024 Mbps,4000 Mbps,10000 Mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,0.0,0.0,2.0,0.0,19.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
df_mapa.head(4)

,Provincia,Partido,Localidad,Población,ADSL,Cablemódem,Dial Up,Fibra óptica,Satelital,Wireless,Telefonía Fija,3G,4G,Link,Latitud,Longitud
0,BUENOS AIRES,25 de Mayo,25 de Mayo,23408,SI,SI,--,--,SI,SI,SI,SI,SI,6854100.0,-35.433939,-60.173121
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,280,--,--,--,--,--,--,SI,--,--,6854010.0,-35.739217,-60.559063
2,BUENOS AIRES,25 de Mayo,Del Valle,899,SI,--,--,--,SI,--,--,SI,--,6854020.0,-35.897345,-60.731609
3,BUENOS AIRES,25 de Mayo,Ernestina,145,SI,--,--,--,--,--,SI,--,--,6854030.0,-35.270234,-59.557503

In [14]:
# DF_tec_loc
print(df_tec_loc.shape)
print(df_tec_loc.columns)

# df_vel_loc
print(df_vel_loc.shape)
print(df_vel_loc.columns)

print(df_mapa.shape)
print(df_mapa.columns)

(3072, 13)
Index(['Provincia', 'Partido', 'Localidad', 'Link Indec', 'ADSL', 'CABLEMODEM',
       'DIAL UP', 'FIBRA OPTICA', 'OTROS', 'SATELITAL', 'WIMAX', 'WIRELESS',
       'Total general'],
      dtype='object')
(3065, 125)
Index(['Provincia', 'Partido', 'Localidad', 'Link Indec', 'Otros',
       '0,256 Mbps', '0,5 Mbps', '0,512 Mbps', '0,75 Mbps', '1 Mbps',
       ...
       '680 Mbps', '700 Mbps', '800 Mbps', '850 Mbps', '900 Mbps', '999 Mbps',
       '1000 Mbps', '1024 Mbps', '4000 Mbps', '10000 Mbps'],
      dtype='object', length=125)
(4305, 16)
Index(['Provincia', 'Partido', 'Localidad', 'Población', 'ADSL', 'Cablemódem',
       'Dial Up', 'Fibra óptica', 'Satelital', 'Wireless', 'Telefonía Fija',
       '3G', '4G', 'Link', 'Latitud', 'Longitud'],
      dtype='object')

In [20]:
# Importamos librerias 
import pymysql
import mysql.connector
from mysql.connector import Error
from sqlalchemy import create_engine

In [16]:
# Conectamos la base de datos 
def DB_connection(host_name, user_name, user_pass, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_pass,
            database = db_name            
        )
        print("MYSQL DATABASE connection succesful")
    except Error as err:
        print(f"Error: '{err}'")
    return connection

# Contrasena:
pw = "root1234"
# Database name
db_name = "PI_DA"

In [17]:
connection = DB_connection("localhost", "root", pw, db_name)

MYSQL DATABASE connection succesful

In [18]:
# Opcional: Verificar la conexión realizando una consulta simple
if connection:
    cursor = connection.cursor()
    cursor.execute("SELECT DATABASE()")
    db = cursor.fetchone()
    print(f"Conectado a la base de datos: {db[0]}")

    # Cerrar la conexión
    cursor.close()
    connection.close()

Conectado a la base de datos: pi_da

In [19]:
# Vamos a utilizar esta funcion para correr queries
def execute_query(connection, query):
    cursor = connection.cursor()
    try: 
        cursor.execute(query)
        connection.commit()
        print("Query hecha con éxito")
    except Error as err:
        print("Error", err)

In [21]:
# Crear el engine de SQLAlchemy usando la conexión MySQL
def create_sqlalchemy_engine(host_name, user_name, user_pass, db_name):
    url = f"mysql+mysqlconnector://{user_name}:{user_pass}@{host_name}/{db_name}"
    return create_engine(url)

In [22]:
# Crear el engine
engine = create_sqlalchemy_engine("localhost", "root", pw, db_name)

In [23]:
# Insertamos el df_tec_loc en la tabla de SQL 
df_tec_loc.to_sql(name= 'tecnologia_localidad', con= engine, if_exists='replace', index=False)

-1

In [24]:
# Insertar el df_vel_loc en la tabla de SQL
df_vel_loc.to_sql(name= 'velocidad_localidad', con= engine, if_exists='replace', index=False)

-1

In [25]:
# Insertar el df_mapa en la tabla del SQL
df_mapa.to_sql(name= 'mapa_conectividad', con= engine, if_exists='replace', index=False)

-1

In [26]:
# velocidad del internet en la tabla de SQL
df_vel_internet.to_sql(name= 'velocidad_internet', con= engine, if_exists='replace', index=False)

-1

In [37]:
df_prov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           984 non-null    int64
 1   Trimestre                     984 non-null    int64
 2   Provincia                     984 non-null    object
 3   ADSL                          984 non-null    float64
 4   Cablemodem                    984 non-null    float64
 5   Fibra óptica                  984 non-null    float64
 6   Wireless                      984 non-null    float64
 7   Otros                         984 non-null    float64
 8   total_acc_tec                 984 non-null    float64
 9   HASTA 512 kbps                984 non-null    float64
 10  + 512 Kbps - 1 Mbps           984 non-null    float64
 11  + 1 Mbps - 6 Mbps             984 non-null    float64
 12  + 6 Mbps - 10 Mbps            984 non-null    float64
 13  + 10 Mbps - 20 Mbps           984 non-null    float64
 14  + 20 Mbps - 30 Mbps           984 non-null    float64
 15  + 30 Mbps                     984 non-null    float64
 16  OTROS                         984 non-null    float64
 17  total_acc_vel                 984 non-null    float64
 18  Mbps (Media de bajada)        984 non-null    float64
 19  Banda ancha fija              984 non-null    int64
 20  Dial up                       984 non-null    float64
 21  total_dial_BAf                984 non-null    int64
 22  Accesos por cada 100 hab      984 non-null    float64
 23  Accesos por cada 100 hogares  984 non-null    float64
dtypes: float64(19), int64(4), object(1)
memory usage: 184.6+ KB

In [49]:
df_prov.columns

Index(['Año', 'Trimestre', 'Provincia', 'ADSL', 'Cablemodem', 'Fibra óptica',
       'Wireless', 'Otros', 'total_acc_tec', 'HASTA 512 kbps',
       '+ 512 Kbps - 1 Mbps', '+ 1 Mbps - 6 Mbps', '+ 6 Mbps - 10 Mbps',
       '+ 10 Mbps - 20 Mbps', '+ 20 Mbps - 30 Mbps', '+ 30 Mbps', 'OTROS',
       'total_acc_vel', 'Mbps (Media de bajada)', 'Banda ancha fija',
       'Dial up', 'total_dial_BAf', 'Accesos por cada 100 hab',
       'Accesos por cada 100 hogares'],
      dtype='object')

In [55]:
df_prov.rename(columns={'OTROS' : 'Otros_velocidad'}, inplace=True)

In [56]:
# Provincias 
df_prov.to_sql(name= 'provincias', con= engine, if_exists='append', index=False)

-1

In [50]:
df_total.columns

Index(['Año', 'Trimestre', 'Hasta 512 kbps', 'Entre 512 Kbps y 1 Mbps',
       'Entre 1 Mbps y 6 Mbps', 'Entre 6 Mbps y 10 Mbps',
       'Entre 10 Mbps y 20 Mbps', 'Entre 20 Mbps y 30 Mbps', 'Más de 30 Mbps',
       'OTROS', 'total_acc_vel', 'Banda ancha fija', 'Dial up',
       'total_dial_BAf', 'ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless',
       'Otros', 'total_acc_tec', 'Accesos por cada 100 hogares',
       'Accesos por cada 100 hab', 'Periodo', 'Mbps (Media de bajada)',
       'Ingresos (miles de pesos)'],
      dtype='object')

In [51]:
df_total.rename(columns={'OTROS' : 'Otros_velocidad'}, inplace=True)

In [54]:
df_total.to_sql(name= 'Internet_pais', con= engine, if_exists='append', index=False)

C:\Users\DELL\AppData\Local\Temp\ipykernel_3288\4194718545.py:1: UserWarning: The provided table name 'Internet_pais' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_total.to_sql(name= 'Internet_pais', con= engine, if_exists='append', index=False)

-1

## TRABAJO CUMPLIDO, AHORA VAMOS A CONECTARLO CON POWER BI